<div class="sidenav-container">
  <div class="sidenav-header">
    <h2>榕典</h2>
    <p class="version-code">v0.3-preview</p>
  </div>
  <mat-nav-list>
    <mat-list-item (click)="onHomeClicked()">
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>首页</h3>
    </mat-list-item>
    <mat-list-item (click)="onSearchClicked()">
      <mat-icon matListIcon>search</mat-icon>
      <h3 matLine>搜索</h3>
    </mat-list-item>
    <mat-list-item (click)="onSearch2Clicked()">
      <mat-icon matListIcon>search</mat-icon>
      <h3 matLine>搜索2</h3>
    </mat-list-item>
    <mat-list-item (click)="onHelpClicked()">
      <mat-icon matListIcon>help</mat-icon>
      <h3 matLine>帮助</h3>
    </mat-list-item>
    <mat-list-item (click)="onFeedbackClicked()">
      <mat-icon matListIcon>feedback </mat-icon>
      <h3 matLine>意见反馈</h3>
    </mat-list-item>
  </mat-nav-list>
</div>
