<div class="sidenav-container">
  <div class="sidenav-header">
    <h2>榕典</h2>
    <p class="version-code">0.0.0-PLACEHOLDER</p>
  </div>
  <mat-nav-list>
    <mat-list-item [routerLink]="'/'">
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>首页</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/advancedSearch'">
      <mat-icon matListIcon>search</mat-icon>
      <h3 matLine>八音检索</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/search-legacy/huziu'">
      <mat-icon matListIcon>search</mat-icon>
      <h3 matLine>旧版搜索</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/settings'">
      <mat-icon matListIcon>settings</mat-icon>
      <h3 matLine>设置</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/help'">
      <mat-icon matListIcon>help</mat-icon>
      <h3 matLine>帮助</h3>
    </mat-list-item>
    <mat-list-item (click)="onFeedbackClicked()">
      <mat-icon matListIcon>feedback </mat-icon>
      <h3 matLine>意见反馈</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/about'">
      <mat-icon matListIcon>sentiment_satisfied_alt</mat-icon>
      <h3 matLine>关于</h3>
    </mat-list-item>
  </mat-nav-list>
</div>
