.banner {
  background-color: #ffee58;
  color: black;
  font-size: $font-size-body;
  line-height: $font-size-h1;
  text-align: center;
  padding: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.bannerAnchor {
  display: inline;
  font-weight: bold;
}

.close {
  background-color: #ffee58;
  position: absolute;
  right: 8px;
  line-height: $font-size-h1;
}
