<div style="padding-left: 10px; padding-right:10px;">
  <h2>
    按《戚林八音》音韵地位查询
  </h2>
  <hr />
  <div *ngIf="showInitials">
    <h2>声</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let i of initials" (click)="onSelectInitial(i)">{{
        i
      }}</mat-chip>
    </mat-chip-list>
  </div>

  <div *ngIf="showFinals">
    <h2>韵</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let f of finals" (click)="onSelectFinal(f)">{{
        f
      }}</mat-chip>
    </mat-chip-list>
  </div>

  <div *ngIf="showTones">
    <h2>调</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let t of tones" (click)="onSelectTone(t)">{{
        t
      }}</mat-chip>
    </mat-chip-list>
  </div>
</div>
