<div class="details-hero mat-elevation-z4">
    <div class="container" [class.large-screen]="largeScreen$ | async"> 
        <button mat-icon-button color="secondary" class="action-button" aria-label="更多" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="secondary" class="action-button" aria-label="这是什么？" (click)="onShowYngpingHelp()">
            <mat-icon>help</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onCopyMiniAppPath()">复制小程序路径</button>
            <button mat-menu-item (click)="onShowHanziCanvasDialog()">疑难字工具</button>
        </mat-menu>
        <div class="hanzi-section">
            <span class="label">推荐用字</span>
            <div class="hanzi unihan-text">{{ model.hanzi }}</div>
        </div>
        <div *ngFor="let p of model.prons" class="pron-section">
            <span class="label">{{ p.displayName }}</span>
            <span class="text-yngping">{{ p.pronunciation }}</span>
            <app-audio-player *ngIf="p.audioUrl" [audioUrl]="p.audioUrl" [preload]="true"></app-audio-player>
        </div>
    </div>
</div>