.container.large-screen {
  width: 600px;
  margin: 0 auto;
}

.details-hero {
  background-color: #69656f;
  color: white;
  padding: 16px;
  .hanzi {
    font-size: 2.2em;
  }
  .text-yngping {
    font-size: 1em;
  }
  .label {
    font-size: 0.8em;
    color: #fff;
    border-radius: 3px;
    border: 1px white solid;
    padding: 2px 0.4em 2px 0.4em;
    margin-right: 8px;
  }
}

.hanzi-section {
  padding-top: 8px;
}

.action-button {
  float: right;
}
