Language: JavaScript
BasedOnStyle: Google
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
---
Language: Proto
ColumnLimit: 100
SpacesInContainerLiterals: false
AllowShortFunctionsOnASingleLine: false
---
Language: CSharp
BasedOnStyle: Microsoft
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
