ol { 
    counter-reset: item; 
    padding-left: 2em;
}

li { 
    padding-bottom: 4px;
}

ol > li:before { 
    content: counters(item, ".") ". "; 
    counter-increment: item;
    font-family: 'Roboto', sans-serif;
    color: #5a3c3e;
}

ol > li:nth-child(1) {
    padding-top: 4px;
}

ol > li {
    display: block;
}

// Top-level points
.content > ol > li {
    font-weight: bold;
    // All child points
    padding-top: 4px;
    > * {
        font-weight: normal;
    }
}

.content > ol {
    padding-left: 10px;
}

span.space, span.space[hidden] {
    display: inline;
    visibility: hidden;
    font: 0.89em Arial;
}