.source {
    font-size:12px;
    color: #888;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.prelude  {
  display: flex;
  width: 100%;
  .results-info {
    flex: 1 1 auto;
    padding: 4px;
    color: darkgray;
    font-size: 12px;
  }

  .options {

  }
}