.result-card {
  border-radius: 5px;
  background-color: rgba(220, 210, 208, 1);
  margin: 2vh;
}

.result-yngping {
  font-family: "Lucida Console", Monaco, monospace;

}

.result-hanzi {
  font-family: 'Noto Serif TC', 'Noto Serif JP', serif;;
  font-size: 2em;
  
}

.result-detail {
  padding-left: 1em;
  padding-right: 1em;
}