<app-common-toolbar></app-common-toolbar>

<ng-container *ngIf="!hasError">
  <app-word-details-hero [model]="heroModel"></app-word-details-hero>

  <div class="content">
    <app-feng-explanation [fengDoc]="fengDoc" [showTitle]="false"></app-feng-explanation>

    <mat-expansion-panel *ngIf="singleCharResults.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          历史音韵
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-mono-hanzi-result
        *ngFor="let s of singleCharResults"
        [document]="s"
      ></app-mono-hanzi-result>
    </mat-expansion-panel>
  </div>
</ng-container>

<p *ngIf="hasError">加载错误</p>
