<app-common-toolbar></app-common-toolbar>

<ng-container *ngIf="!hasError && !isBusy">
  <div class="hero mat-elevation-z4">
    <div class="hanzi unihan-text">{{ fengDoc.getHanziCanonical() }}</div>
    <div class="text-yngping">
      <span class="label">市区连读</span>
      {{ fengDoc.getYngpingCanonical() }}
      <button mat-icon-button color="secondary" aria-label="这是什么？" 
        (click)="onShowYngpingHelp()">
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </div>

  <div class="content">
    <p class="raw-explanation"
       *ngIf="!showStructuredExplanation" >{{ fengDoc.getExplanation() }}</p>
    <div class="unihan-text explanation"
         *ngIf="showStructuredExplanation" 
        [innerHTML]="structuredExplanation"></div>
    <mat-checkbox 
      class="toggle-structured" 
      *ngIf="showToggleStructured" 
      [(ngModel)]="toggleStructured">结构化 (DEBUG)</mat-checkbox>
    <p class="details-source">出处：馮愛珍. 1998. 福州方言詞典. 南京: 江蘇教育出版社. 第 {{ fengDoc.getSource().getPageNumber() }} 頁.
      用字可能經過<a class="mat-body" href="/help">編輯修訂</a>.</p>

    <mat-expansion-panel *ngIf="singleCharResults.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          历史音韵
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-mono-hanzi-result
        *ngFor="let s of singleCharResults"
        [document]="s"
      ></app-mono-hanzi-result>
    </mat-expansion-panel>
  </div>
</ng-container>

<p *ngIf="isBusy">加载中...</p>

<p *ngIf="hasError">加载错误</p>
