.toggle-structured {
    text-align: right;
    font-size: 0.8em;
}

.details-hero {
    background-color: #69656F;
    color: white;
    padding: 16px 24px 16px 24px;
    .hanzi {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    .text-yngping {
        font-size: 1em;
    }
    .label {
        font-size: 0.8em;
        color: #fff;
        //background-color: #664445;
        border-radius: 3px;
        border: 1px white solid;
        padding: 2px 0.4em 2px 0.4em;
    }
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.explanation {
    ol {
        counter-reset: item; 
        padding-left: 1rem;
        margin-block-start: 0.2em;
    }

    ul.examples-list {
        margin: 0.5rem 1rem 0 0.5rem;
        padding-left: 0.5rem;
        // background-color: #eff5f0;
        color: #421f01;
    }
    
    li { 
        display: block;
        padding-bottom: 4px;
    }
    
    li.sense:before { 
        content: counters(item, ".") ". "; 
        counter-increment: item;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
    }

    .sense {
        font-size: 1.2rem;
    }

    .example {
        font-size: 1rem;
    }

    .current-word {
        // font-weight: 900;
        color: green;
        // color: chocolate;
        // text-decoration: underline;
    }

    .label {
        font-family: sans-serif;
        color: #fff;
        background-color: #69656f;
        border-radius: 3px;
        font-size: 0.8em;
        padding: 2px 0.4em 2px 0.4em;
    }

    p.notes {
        margin-block-start: 0.2em;
    }
}

.details-source {
    font-family: sans-serif;
    font-size: 12px;
    color: #69656f;
    a {
        font-size: 12px;
        color: #69656f;
    }
}

// Top-level points
.explanation > ol > li {
    // All child points
    padding-top: 4px;
}

.explanation > ol {
    padding-left: 10px;
}

.raw-explanation {
    font-family: monospace;
    font-size: 12px;
}

