<app-common-toolbar></app-common-toolbar>

<ng-container *ngIf="!hasError && !isBusy">
  <div class="result-yngping result-detail">{{ fengDoc.getYngpingCanonical() }}</div>
  <div class="result-hanzi result-detail">{{ fengDoc.getHanziCanonical() }}</div>
  <div class="content result-detail">
    <div class="source result-detail">{{ fengDoc.getExplanation() }}</div>
    <p><small>出处：馮愛珍. 1998. 福州方言詞典. 南京: 江蘇教育出版社</small></p>

    <mat-expansion-panel *ngIf="singleCharResults.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          历史音韵
        </mat-panel-title>
        <mat-panel-description>
          戚林八音、Dictionary of Foochow Dialect
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-mono-hanzi-result
        *ngFor="let s of singleCharResults"
        [document]="s"
      ></app-mono-hanzi-result>
    </mat-expansion-panel>
  </div>
</ng-container>

<p *ngIf="hasError">加载错误</p>
