
.explanation {
    ol {
        counter-reset: item; 
        padding-left: 1rem;
        margin-block-start: 0.2em;
    }

    ul.examples-list {
        margin: 0.5rem 1rem 0 0.5rem;
        padding-left: 0.5rem;
        color: #371A01;
    }
    
    li { 
        display: block;
        padding-bottom: 4px;
    }
    
    li.sense:before { 
        content: counters(item, ".") ". "; 
        counter-increment: item;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
    }

    .sense {
        font-size: 1.2rem;
    }

    .example {
        font-size: 1rem;
    }

    .current-word {
        font-weight: 900;
        color: #AA5518;
    }

    .label {
        font-family: sans-serif;
        color: #fff;
        background-color: #69656f;
        border-radius: 3px;
        font-size: 0.8em;
        padding: 2px 0.4em 2px 0.4em;
    }

    p.notes {
        margin-block-start: 0.2em;
    }
}

.details-source {
    font-family: sans-serif;
    font-size: 12px;
    color: #69656f;
    a {
        font-size: 12px;
        color: #69656f;
    }
}

// Top-level points
.explanation > ol > li {
    // All child points
    padding-top: 4px;
}

.explanation > ol {
    padding-left: 10px;
}

.raw-explanation {
    font-family: monospace;
    font-size: 12px;
}
