<mat-toolbar>
    <mat-icon (click)="onBackClicked()">keyboard_arrow_left</mat-icon>
    <app-phonology-query-renderer
    class="phonology-query-input"
      *ngIf="showingPhonologyQuery"
      [initial]="initial"
      [final]="final"
      [tone]="tone"
      (clearInitial)="onClearInitial()"
      (clearFinal)="onClearFinal()"
      (clearTone)="onClearTone()"
    ></app-phonology-query-renderer>
    <form
      *ngIf="!showingPhonologyQuery"
      class="text-query-input"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()">
      <input placeholder="查字" formControlName="textQuery"/>
    </form>
    <mat-icon (click)="onSearch()">查</mat-icon>
</mat-toolbar>