<div class="survey" *ngIf="!isMiniApp">
    邀您参加 👉
    <a mat-button href="https://www.wjx.cn/vj/eS3I20a.aspx" target="_blank">用户调研</a>
    👈，齐来塑造榕典新功能
  </div>
<mat-toolbar *ngIf="!isMiniApp" class="topbar mat-elevation-z4 no-select" color="primary" [class.homepage]='isHomePage'>
    <a mat-button [routerLink]="'/'" class="logo" *ngIf='!isHomePage'>
    </a>
    <app-searchbox [queryText]="queryText" *ngIf='!isHomePage' (performSearch)="onPerformSearch($event)">
    </app-searchbox>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="菜单" (click)="onMenuClicked()" class="menu-button">
        <mat-icon [class.homepage]='isHomePage'>menu</mat-icon>
    </button>
</mat-toolbar>