.topbar.homepage {
  background-color: rgba(220, 210, 208, 1);
}

.topbar {
  padding: 0 12px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  min-height: 50px !important;
  height: 50px !important;
}

mat-icon {
  &:hover {
    cursor: pointer;
  }
}

mat-icon.homepage {
  color: rgb(102, 68, 69);
}

.menu-button {
  margin-right: -8px;
}

app-searchbox,
.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 16px;
  padding: 4px 4px 4px 0;
  align-content: center;
}

.logo::before {
  content: '';
  display: inline-block;
  height: 30px;
  min-width: 74px;
  background-image: url(/assets/logo-header.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  vertical-align: middle;
}
