.index {
  .banner {
    background-color: $color-brownish-100;
    height: 500px;
    max-height: calc(100vh - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .imageContainer {
      Image {
        width: 60vw;
      }
    }
    .search {
      $search-height: 70px;
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      .inputContainer {
        @include flex-center-center;
        flex: 1;
        height: $search-height;
        padding: 0 10px;
        background-color: white;
        Input {
          width: 100%;
        }
      }
      .confirmBtn {
        @include flex-center-center;
        height: $search-height;
        background-color: $color-brownish-900;
        width: $search-height;
        color: white;
      }
      .actions {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
}
