/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
$color-brand: $color-brownish-200;
$color-brand-light: $color-brownish-100;
$color-brand-dark: $color-brownish-300;
/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/index.scss";
