.outer {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.hero {
  text-align: center;
  width: 100%;
  min-height: 10vh;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  padding-top: 15vh;
  padding-bottom: 10px;
  background-color: rgba(220, 210, 208, 1);
}

.logo {
  height: 100px;
}

.fake-search-box {
  height: 30vh;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  background-color: rgba(246, 239, 237, 1);
}

.activity-container {
  flex: 1 1 auto;
  background-color: rgba(246, 239, 237, 1);
}

mat-icon:hover {
  cursor: pointer;
}
