<div class="outer">

  <div class="logo">榕典</div>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="fake-search-box">
      <mat-form-field>
        <input class="search-input" matInput formControlName="textQuery" placeholder="查字、词、读音..."/>
        <mat-icon matSuffix (click)="onSubmit()">search</mat-icon>
      </mat-form-field>
      <div>
        <a mat-button routerLink="advancedSearch">高级搜索</a>
      </div>
    </div>
  </form>
  <!-- reserve for blocks like 「每日一词」「新增词」 -->
  <div class="activity-container">
  </div>
  <p class="version-code">v0.2-preview</p>
</div>