<div class="outer no-select">
  <app-common-toolbar></app-common-toolbar>
  <div class="hero">
    <img 
      class="logo" 
      src="/assets/logo.png" 
      alt="榕典"/>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="fake-search-box">
      <mat-form-field>
        <input class="search-input" matInput formControlName="textQuery" placeholder="查字、词、读音..."/>
        <mat-icon matSuffix (click)="onSubmit()">search</mat-icon>
      </mat-form-field>
      <div>
        <a mat-button routerLink="advancedSearch">八音检索</a>
      </div>
    </div>
  </form>
  <!-- reserved for blocks like 「每日一词」「新增词」 -->
  <div class="activity-container">
  </div>
  <div class="footer"><a mat-button color="primary" href="https://beian.miit.gov.cn" target="_blank">闽ICP备20015137号</a></div>
</div>
