.result-card {
  border-radius: 5px;
  background-color: rgba(220, 210, 208, 1);
  margin: 2vh;

}

.result-yngping {
  font-family: "Lucida Console", Monaco, monospace;

}

.result-hanzi {
  font-family: 'Noto Serif TC', serif;;
  font-size: 2em;
  
}


.detail-link {
  &:hover {
    color: black;
    cursor: pointer;
  }
}

mat-icon:hovers {
  cursor: pointer;
}