<div class="content">
  <h1>关于榕典</h1>
  <p>榕典是一款多来源的福州话（闽东方言）线上辞典。榕典的使命是：让平话知识触手可及。</p>

  <h2>联系我们</h2>
  <ul>
    <li>邮箱：<a mat-button color="primary" href="mailto:contact@zingzeu.org">📮&ensp;contact@zingzeu.org&ensp;</a>
    </li>
    <li>QQ<span class="space">&nbsp;</span>群聊：<a mat-button color="primary" target="_blank"
        href="https://qm.qq.com/cgi-bin/qm/qr?k=nQKAyRWlRcitDBDXRhwT4Il5Y-tAjyGF&jump_from=webapi">💬&ensp;榕典用户交流反馈</a>（群号码：664721012）
    </li>
    <li>社交媒体
      <ul>
        <li>微博：<a mat-button color="primary" href="https://weibo.com/u/5711864535" target="_blank">🔗&ensp;真鸟囝</a></li>
        <li>YouTube：<a mat-button color="primary" href="https://www.youtube.com/channel/UCZP32DtlkgizaXHrygkyi3A"
            target="_blank">📺&ensp;真鳥囝 福州話</a> </li>
        <li>哔哩哔哩：<a mat-button color="primary" href="https://space.bilibili.com/10085548"
            target="_blank">📺&ensp;真鸟囝</a></li>
        <li>微信公众号：真鸟囝福州话学堂（微信号：fuzhouzhenniao）</li>
        <li>抖音：真鸟囝福州话（抖音号：zingzeu01）</li>
      </ul>
    </li>
  </ul>

  <h2>鸣谢</h2>
  <ul>
    <li>感谢陈泽平老师、冯爱珍老师的授权与支持。</li>
    <li>感谢“福老爷”林圜先生提供原始发音素材。</li>
    <li>感谢福州厝边公司的协助。</li>
    <li>感谢上海师范大学王弘治师生数字化《美全八音》的努力。</li>
    <li>感谢所有参与文本数位化工作的志愿者。（贡献者名单统计中）</li>
  </ul>

  <p>真鸟囝团队出品</p>
</div>
