<div class="content">
  <h1>关于榕典</h1>
  <p>榕典是一款多来源的福州话（闽东方言）线上辞典。榕典的使命是：让平话知识触手可及。</p>

  <h2>文献来源</h2>
  <ul>
    <li>已上线（或部分上线）
      <ul>
        <li>冯爱珍 1998 《福州方言词典》，江苏教育出版社。</li>
        <li>李如龙 王升魁校注 2001 《戚林八音校注》，福建人民出版社。</li>
        <li>R. S. Maclay & C. C. Baldwin & S. H. Leger, 1929, <em>Dictionary of the Foochow Dialect</em>, Presbyterian Mission Press of Shanghai.<br>
        （注：<em>Dictionary of the Foochow Dialect</em><span class="space">&nbsp;</span>一书无官方译名，故而中文译名多样，榕典取其中一种，乃《榕腔注音辞典》。该书的数位化仅完成了《目录（Index of Character）》部分。)</li>
      </ul></li>
    <li>未上线（校对中）
      <ul>
        <li>钟德明 1906 《加订美全八音》，永昌书局。</li>
        <li>李如龙 梁玉璋 邹光椿 陈泽平 1994 《福州方言词典》，福建人民出版社。</li>
        <li>福建连江县地方志编纂委员会 2000 《连江县志·方言志》，方志出版社。</li>
      </ul></li>
  </ul>


  <h2>联系我们</h2>
  <ul>
    <li>邮箱：<a mat-button color="primary" href="mailto:contact@zingzeu.org">📮&ensp;contact@zingzeu.org&ensp;</a>
    </li>
    <li>QQ<span class="space">&nbsp;</span>群聊：<a mat-button color="primary" target="_blank"
        href="https://qm.qq.com/cgi-bin/qm/qr?k=nQKAyRWlRcitDBDXRhwT4Il5Y-tAjyGF&jump_from=webapi">💬&ensp;榕典用户交流反馈</a>（群号码：664721012）
    </li>
    <li>社交媒体
      <ul>
        <li>微博：<a mat-button color="primary" href="https://weibo.com/u/5711864535" target="_blank">🔗&ensp;真鸟囝</a></li>
        <li>YouTube：<a mat-button color="primary" href="https://www.youtube.com/channel/UCZP32DtlkgizaXHrygkyi3A"
            target="_blank">📺&ensp;真鳥囝 福州話</a> </li>
        <li>哔哩哔哩：<a mat-button color="primary" href="https://space.bilibili.com/10085548"
            target="_blank">📺&ensp;真鸟囝</a></li>
        <li>微信公众号：真鸟囝福州话学堂（微信号：fuzhouzhenniao）</li>
        <li>抖音：真鸟囝福州话（抖音号：zingzeu01）</li>
      </ul>
    </li>
  </ul>

  <h2>鸣谢</h2>
  <ul>
    <li>感谢陈泽平老师、冯爱珍老师的授权与支持。</li>
    <li>感谢“福老爷”林圜先生提供原始发音素材。</li>
    <li>感谢福州厝边公司的协助。</li>
    <li>感谢上海师范大学王弘治师生数字化《美全八音》的努力。</li>
    <li>感谢所有参与文本数位化工作的志愿者。（贡献者名单统计中）</li>
    <li>感谢福建省美术家协会的朱伟平老师为榕典题写<span class="space">&nbsp;</span>logo。</li> 
  </ul>

  <p>真鸟囝团队出品</p>
</div>
