#container {
  padding: 16px;
}

.panel {
  display: flex;
  flex-direction: row;
}

.left,
.right {
  flex: 1;
  font-size: 1rem;
}

.left {
  margin-right: 4px;
}

.right {
  margin-left: 4px;
}

textarea.right {
  background-color: #f5f5f5;
  border: none;
}

textarea {
  min-height: 280px;
}

.hint {
  margin-top: 8px;
}
