page {
  background-color: #f7efed;
  font-family: 'Noto Sans SC', 'Noto Sans TC', 'Ext-0', 'Ext-1', sans-serif;
}

.rich-text {
  font-size: $font-size-body;
  .section-header {
    font-size: $font-size-h6;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .label {
    background-color: $color-brownish-300;
    color: $color-text-light;
    padding: 8px;
    border-radius: 8px;
  }

  .ol {
    margin: 0.1rem 1rem 0 0.5rem;
    counter-reset: item;
    padding-left: 1rem;
  }

  .ul {
    margin: 0.1rem 1rem 0 0.5rem;
    padding-left: 0.5rem;
    color: #371a01;
  }

  .li {
    display: block;
    padding-bottom: 4px;
  }
}
