.topBar {
  background-color: #69656f;
  padding: 40px;
  color: white;
  .word {
    font-size: $font-size-h1;
  }
  .actionPanel {
  }
  .rimeContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    & > View {
      margin-right: 15px;
    }
    .rimePosition {
      font-size: $font-size-secondary;
      border-radius: 10px;
      border: 1px solid white;
      padding: 0.1em 0.5em;
    }
  }
}

.tabPane {
  padding: 20px;
}

.collection {
  .title {
    @include text-ellipsis;
    font-size: $font-size-body;
  }
}
