/* You can add global styles to this file, and also import other style files */

@import "custom-theme";


@font-face {
  font-family: 'Ext-0';
  src: url('assets/fonts/yngdieng-extended-0.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/yngdieng-extended-0.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Ext-1';
  src: url('assets/fonts/yngdieng-extended-1.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/yngdieng-extended-1.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$background-color: #F7EFED;

body {
    margin: 0px;
    background-color: $background-color
}

.content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-yngping {
    font-family: "Lucida Console", Monaco, monospace;
}

.result-card {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgba(220, 210, 208, 1);
    
    .result-hanzi {
        font-family: 'Noto Serif SC', 'Noto Serif TC', 'Ext-0', 'Ext-1', serif;
        font-size: 2em;
    }

    .detail-link {
        &:hover {
            color: black;
            cursor: pointer;
        }
        color: #293249;
    }
  
}

.unihan-text {
    font-family: 'Noto Serif SC', 'Noto Serif TC', 'Ext-0', 'Ext-1', serif;
}