.wordCard {
  background-color: $color-brownish-100;
  border-radius: 10px;
  padding: 20px 30px;
  .title {
  }
  .description {
    margin-top: 20px;
    font-size: $font-size-secondary;
    color: $color-text-dark-secondary;
  }
  .extraContainer {
    display: flex;
    .extraTitle {
      color: $color-text-dark-secondary;
      font-size: $font-size-secondary;
    }
    .extraContent {
    }
    & > View {
      margin: 0 10px;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
