.search {
  .inputInjected {
    @include flex-center-center;
    flex: 1;
    height: 70px;
    padding: 0 10px;
    background-color: $color-brownish-100;
    Input {
      width: 100%;
      color: $color-text-dark;
    }
  }
  .content {
    .result {
      height: calc(100vh - #{$header-height});
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      .resultTitle {
        padding: 20px;
        width: calc(100% - 40px);
        .resultAmount {
          font-size: $font-size-secondary;
        }
      }
      .resultList {
        height: 500px;
        flex: 1;
        .scrollView {
          height: 100%;
        }
        .resultItem {
          padding: 0 20px;
          margin-bottom: 20px;
          .title {
            font-size: $font-size-h1;
          }
        }
      }
    }
  }
}
